button-component {
  --background: #181a22;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
  gap: 10px;
  background-color: var(--background);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #f6f8ff;
  cursor: grab;
  outline: none;
  transition: background 0.3s ease, box-shadow 0.25s ease, transform 0.2s ease-in, opacity 0.2s ease-in-out;
  transform-origin: 50% 50%;
  min-height: 62px;
  box-shadow: var(--box-shadow);
  user-select: none;
  -webkit-user-select: none;

  transform: scale(1);
  box-shadow: 0 1px 3px 0 rgba(34, 33, 81, 0.15);
}

button-component:hover, button-component:focus {
  background-color: #111;
}

button-component:focus-visible {
  outline: 3px solid #4c9ffe;
}

button-component[disabled] {
  opacity: 0.3;
}

button-component[data-shadow="true"]:not([aria-hidden="true"]) {
  transform: scale(1.03);
  box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);

  @media (prefers-color-scheme: dark) {
    box-shadow: -1px 0 15px 0 rgba(0, 0, 0, 0.01), 0px 15px 15px 0 rgba(0, 0, 0, 0.15);
  }

  [data-dnd-overlay="true"] & {
    @starting-style {
      opacity: 0;
      transform: scale(1);
      box-shadow: 0 1px 3px 0 rgba(34, 33, 81, 0.15);
    }
  }

  [data-dnd-overlay="true"][data-dnd-dropping] & {
    opacity: 0;
    transition: background 0.3s ease, box-shadow 0.25s ease, transform 0.2s ease-in, opacity 0.3s ease-in;
  }
}

button-component:has(handle-component) {
  padding-right: 10px;
}

.dark button-component {
  --background: #000;
}

.dark button-component[data-shadow="true"] {
  --box-shadow: -1px 0 15px 0 rgba(0, 0, 0, 0.1), 0px 15px 15px 0 rgba(0, 0, 0, 0.25);
}
