.Code {
  --background-color: #263038;
  --border-radius: 8px;
  --border-color: transparent;
  --box-shadow:  0 1px 3px 0 rgba(0, 0, 0, 0.10), inset 0 0 1px hsla(203, 50%, 30%, 0.5);

  max-width: 100%;
  margin: 30px 0;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  color: #fff;
  box-shadow: var(--box-shadow);
}

.InlineCode {
  padding: 0.4em 0.6em !important;
  border-radius: 4px !important;
  color: rgba(0,37,158,0.797) !important;
  background-color: rgba(1,68,255,0.059) !important;
}


:global(.dark) .Code {
  --background-color: #2a2c2e;
  --border-color: rgba(255,255,255,0.1);
  --box-shadow: none;
}

:global(.dark) .InlineCode {
  color: rgb(135 163 255 / 90%) !important;
  background-color: #2a2c2e !important;
  border-color: rgba(255,255,255,0.1);
}

.TabContent {
  padding: 20px 0;
  padding-right: 20px;
  overflow: auto;
}

.Tabs {
  display: flex;
  overflow-x: auto;
  background-color: #1e272d;
}

:global(.dark) .Tabs {
  background-color: #222425;
}

.Tab {
  background-color: transparent;
  appearance: none;
  outline: none;
  border: 0;
  color: #97999e;
  padding: 20px;
  font-family: "Roboto Mono",Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;

  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.Tab[aria-selected="true"] {
  color: #fff;
  background-color: var(--background-color);
}
