.Item {
  --box-shadow: inset 0px 0px 1px rgba(0,0,0,0.4), 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05), 0 1px calc(3px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.15);

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
  gap: 10px;
  background-color: rgb(255,255,255);
  border-radius: 6px;
  font-size: 14px !important;
  color: #555;
  outline: none;
  min-height: 62px;
  box-shadow: var(--box-shadow);
  font-family: var(--font-family);
  width: 100%;
  max-width: 300px;
  white-space: nowrap;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

:global(.dark) .Item {
  background-color:
}

.Item:focus-visible:not(.shadow) {
  --box-shadow: inset 0 0 0 3px #4c9ffe;
  transition: background 0.4s ease;
}

.Item[aria-hidden="true"] {
  opacity: 0.5;
}

.shadow:not([aria-hidden="true"]) {
  transform-origin: 50% 50%;
  transform: scale(1.03);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255,255,255,0.9);
  --box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5), -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);
}

:global(.dark) .shadow:not([aria-hidden="true"]) {
  background-color: rgba(255,255,255,0.98);
}

.withActions {
  padding-right: 10px;
}

.Item:not(.withActions) {
  cursor: grab;
  touch-action: none;
}

.withBorder {
  border-left: 3px solid;
  border-color: var(--accent-color);
}
