.Actions {
  display: flex;
}

.Action {
  display: flex;
  width: 12px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  cursor: var(--cursor, pointer);
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;

  --fill: #919eab;
}

.Action:hover, .Action:active {
  background-color: var(--background, rgba(0, 0, 0, 0.05));
}

.Action:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), inset 0 0px 0px 2.5px #4c9ffe;
}

.Action svg {
  flex: 0 0 auto;
  margin: auto;
  height: 100%;
  overflow: visible;
  fill: var(--fill);
}

.Action:active, .Action:hover {
  --fill: #6f7b88;
}

.dark {
  --background: rgba(255, 255, 255, 0.1);
}

.destructive {
  visibility: hidden;
}

.destructive:hover {
  --fill: rgba(255, 70, 70, 0.95);
  --background: rgba(255, 70, 70, 0.1);
}


*:hover > .Actions .destructive, li:hover .destructive {
  visibility: visible;
}
