.Preview {
  overflow-y: auto;
  padding: 30px 40px;
  margin: 25px 0 40px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), inset 0 0 1px hsla(203, 50%, 30%, 0.5);
  background: #FCFCFC;
}

.Preview:has( + .Code) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.Preview + .Code > div > div {
  margin-top: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hero {
  display: grid;
  align-items: center;

  min-height: 200px;
  max-height: 400px;
  background: linear-gradient(65deg, #56fff410, #001AFF10, #5F6AF210, #F25FD010, #56FFF510, #F25FD010, #001AFF10, #56fff410);
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  background-size: 600% 100%;
}



@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

