$focused-outline-color: #4c9ffe;

.Handle {
  display: flex;
  width: 12px;
  padding: 5px;
  padding-left: 15px;
  align-items: center;
  flex: 0 0 auto;
  margin-left: auto;
  touch-action: none;
  cursor: var(--cursor, grab);

  svg {
    flex: 0 0 auto;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: visible;
    fill: #919eab;
  }

  &:focus {
    outline: none;
    border-radius: 0.5px;
    box-shadow: 0 0 0 2px #fff, 0 0px 3px 4px $focused-outline-color;
  }
}
