.Button {
  --background: #181a22;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 20px;
  border: none;
  gap: 10px;
  background-color: var(--background);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #f6f8ff;
  cursor: grab;
  outline: none;
  transition: background 0.4s ease, box-shadow 0.3s ease, transform 0.25s ease;
  transform-origin: 50% 50%;
  min-height: 62px;
  box-shadow: var(--box-shadow);
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}

.Button:hover, .Button:focus {
  background-color: #111;
}

.Button:focus-visible:not(.shadow) {
  --box-shadow: inset 0 0 0 3px #4c9ffe;
  transition: background 0.4s ease;
}

.Button[data-shadow="true"] {
  transform: scale(1.03);
  --box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);

  @media (prefers-color-scheme: dark) {
    --box-shadow: -1px 0 15px 0 rgba(0, 0, 0, 0.01), 0px 15px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.Button:has(> button) {
  padding-right: 10px;
  touch-action: auto;
}

:global(.dark) .Button {
  --background: #000;
}

:global(.dark) .Button[data-shadow="true"] {
  --box-shadow: -1px 0 15px 0 rgba(0, 0, 0, 0.1), 0px 15px 15px 0 rgba(0, 0, 0, 0.25);
}
