import DraggableItem from "./DraggableItem.marko";

<drag-drop-provider>
  <div>
    <DraggableItem/>
    <drag-overlay|source|>
      <button class="btn" data-shadow="true">overlay</button>
    </drag-overlay>
  </div>
</drag-drop-provider>
