.Info {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: stretch;
  padding: 16px 24px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #57595a42;
  border-radius: 10px;
}

:global(.dark) .Info {
  background-color: #ffffff05;
}

.Info > p {
  color: inherit;
  margin: 0;
}

.Info > svg {
  color: #2196F3;
  width: 20px;
  height: 20px;
}
