export interface Input { id: string; label: string; }

<create-draggable|draggable| id=input.id>
  <button/$el class="btn">
    <lifecycle
      onMount() { draggable.setElement($el()); }
      onDestroy() { draggable.setElement(undefined); }
    />
    ${input.label}
  </button>
</create-draggable>
