.Page {
  position: relative;
  width: 150px;
  height: 200px;
  margin-bottom: 40px;
  list-style: none;
  background-color: rgb(250, 255, 255);
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(34, 33, 81, 0.15);
  outline: none;
  touch-action: none;

  &:focus-visible:not(.active) {
    box-shadow: 0 0 0 2px #4c9ffe;
  }

  &.active {
    background-color: rgba(230, 230, 230);

    .PageNumber {
      opacity: 0.5;
    }
  }

  &.clone {
    transform: translate3d(10px, 10px, 0) scale(1.025);
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
      0 1px 6px 0 rgba(34, 33, 81, 0.3);
  }

  &.insertBefore,
  &.insertAfter {
    &:not(.active, .clone) {
      &:after {
        content: '';
        position: absolute;
        background-color: #4c9ffe;
      }
    }
  }

  &:not(.vertical) {
    &.insertBefore,
    &.insertAfter {
      &:after {
        top: 0;
        bottom: 0;
        width: 2px;
      }
    }
    &.insertBefore {
      &:after {
        left: -9px;
      }

      &.clone {
        transform: translate3d(-85px, 10px, 0) scale(1.025);
      }
    }

    &.insertAfter {
      &:after {
        right: -9px;
      }

      &.clone {
        transform: translate3d(85px, 10px, 0) scale(1.025);
      }
    }
  }
  &.vertical {
    &.insertBefore,
    &.insertAfter {
      &:after {
        left: 0;
        right: 0;
        height: 2px;
      }
    }
    &.insertBefore {
      &:after {
        top: -15px;
      }

      &.clone {
        transform: translate3d(100px, -125px, 0) scale(1.025);
      }
    }

    &.insertAfter {
      &:after {
        bottom: -40px;
      }

      &.clone {
        transform: translate3d(100px, 125px, 0) scale(1.025);
      }
    }
  }
}

.PageNumber {
  position: absolute;
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  bottom: -30px;
  color: rgba(0, 0, 0, 0.5);
  user-select: none;
}
