container-component {
  display: flex;
  flex-direction: column;
  grid-auto-rows: max-content;
  overflow: hidden;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  min-width: var(--min-width, 300px);
  border-radius: 5px;
  min-height: 200px;
  transition-property: transform, background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: ease;
  background-color: rgba(246, 246, 246, 1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1em;
}

container-component[data-shadow="true"] {
  transform: scale(1.01);
  box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);
}

container-component:hover, container-component[data-shadow="true"] {
  background-color: rgb(240, 240, 240);
}

container-component[aria-hidden="true"] {
  opacity: 0.5;
}

container-component > ul {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(var(--columns, 1), 1fr);
  list-style: none;
  padding: 15px;
  margin: 0;
}

container-component[data-scrollable="true"] > ul {
  max-height: calc(80vh - 100px);
  overflow-y: auto;
}

container-component > .Header {
  display: flex;
  min-height: 59px;
  padding: 8px 20px;
  padding-inline-end: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-family: var(--font-family);
}

.dark container-component {
  border: none;
  background-color: rgb(76, 79, 80);

  &:hover, &[data-shadow="true"] {
    background-color: rgb(67 69 70);
  }
}
