.Tree {
  max-width: 600px;
  padding: 10px;
  margin: 10% auto 0px;
}

.TreeItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #dedede;
  margin-bottom: -1px;
  color: #222;
  box-sizing: border-box;

  &[data-overlay] {
    width: max-content !important;
    padding-right: 24px;
    border-radius: 4px;
    box-shadow: 0px 15px 15px 0 rgba(34, 33, 81, 0.1);
  }
}

.TreeItem[aria-hidden="true"] {
  opacity: 0.5;

  .Handle {
    visibility: hidden;
  }
}

.Action {
  margin-left: auto;
}

.Badge {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #2389ff;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}
