name: 'Chromatic'

on:
  pull_request:
  push:
    branches: [main]

jobs:
  chromatic-vanilla:
    name: Chromatic (Vanilla)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: bun install && bun run build
      - uses: chromaui/action@v1
        id: vanilla
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_VANILLA_TOKEN }}
          buildScriptName: 'build'
          workingDir: 'apps/stories-vanilla'
    outputs:
      storybookUrl: ${{ steps.vanilla.outputs.storybookUrl }}

  chromatic-vue:
    name: Chromatic (Vue)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: bun install && bun run build
      - uses: chromaui/action@v1
        id: vue
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_VUE_TOKEN }}
          buildScriptName: 'build'
          workingDir: 'apps/stories-vue'
    outputs:
      storybookUrl: ${{ steps.vue.outputs.storybookUrl }}

  chromatic-solid:
    name: Chromatic (Solid)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: bun install && bun run build
      - uses: chromaui/action@v1
        id: solid
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_SOLID_TOKEN }}
          buildScriptName: 'build'
          workingDir: 'apps/stories-solid'
    outputs:
      storybookUrl: ${{ steps.solid.outputs.storybookUrl }}

  chromatic-svelte:
    name: Chromatic (Svelte)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: bun install && bun run build
      - uses: chromaui/action@v1
        id: svelte
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_SVELTE_TOKEN }}
          buildScriptName: 'build'
          workingDir: 'apps/stories-svelte'
    outputs:
      storybookUrl: ${{ steps.svelte.outputs.storybookUrl }}

  chromatic:
    name: Chromatic
    runs-on: ubuntu-latest
    needs:
      - chromatic-vanilla
      - chromatic-vue
      - chromatic-solid
      - chromatic-svelte
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      - run: bun install && bun run build
      - uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_TOKEN }}
          buildScriptName: 'build'
          workingDir: 'apps/stories'
        env:
          VANILLA_STORYBOOK_URL: ${{ needs.chromatic-vanilla.outputs.storybookUrl }}
          VUE_STORYBOOK_URL: ${{ needs.chromatic-vue.outputs.storybookUrl }}
          SOLID_STORYBOOK_URL: ${{ needs.chromatic-solid.outputs.storybookUrl }}
          SVELTE_STORYBOOK_URL: ${{ needs.chromatic-svelte.outputs.storybookUrl }}
