name: Continuous Release
on:
  pull_request:
  push:
    branches: [experimental]

jobs:
  build:
    name: Continuous release
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 20
          # https://github.com/atlassian/changesets/issues/550#issuecomment-811245508
          registry-url: https://registry.npmjs.org

      - uses: oven-sh/setup-bun@v1
      - run: bun install && bun run build

      - name: Publish
        run: npx pkg-pr-new publish './packages/*'
